@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Raleway&display=swap");

:root {
  --background: rgb(236, 236, 236);
  --foreground: rgb(17, 110, 216);
  --shadow: rgba(170, 170, 170, 0.8);
  --header-font: "Comfortaa", sans-serif;
  --body-font: "Raleway", sans-serif;
}

body {
  margin: 40px;
  font-family: var(--body-font);
  font-size: 0.8rem;
}


.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 350px 1fr 1fr;
  grid-template-rows: 100px 500px 20px 50px 200px 200px 100px;
  height: 100%;
  width: 100%;
}

.search {
  margin-left: 20px;
  font-size: 13px;
  padding: 18px 45px 15px 15px;
  margin-bottom: 12px;
}

#companyList {
  list-style-type: none;
  padding: 20px;
  margin: 0px;
  overflow-y: scroll;
  max-height: 850px;
}

#stock {
  overflow-y: scroll;
  height: 80%;
}

ul#companyList li {
  display: block;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}
#companyList li:hover {
  background-color: #E5E5E5;
  border-radius: 5px;
  box-shadow: 5px 5px 5px -2px var(--shadow);
  transition: 0.15s;
}

#stock th:hover {
  cursor: pointer;
}

div.b section {
  display: none;
  flex-direction: column;
}
div.b section label {
  padding: 5px;
}

#map {
  border-radius: 5px;
  max-height: 89%;
}
#map button{
  padding: initial;
  font-size: initial;
  border-radius: initial;
  border: initial;
  margin: initial;
  box-shadow: initial;
}

.box {
  border: 0px solid var(--shadow);
  border-radius: 5px;
  box-shadow: 5px 5px 5px -2px var(--shadow);
  background-color: var(--background);
  padding: 0em 1em 1em 1em;
}

.h {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  background-color: var(--foreground);
}

.a {
  grid-column: 1 / span 1;
  grid-row: 2 / span 6;
}

.b {
  grid-column: 2 / span 1;
  grid-row: 2 / span 3;
  object-fit: scale-down;
}

.c {
  grid-column: 2 / span 1;
  grid-row: 5 / span 3;
  padding: 0em;
}
.c h1{
  margin: 0;
}

.d {
  grid-column: 3 / span 1;
  grid-row: 2 / span 4;
  max-height: 800px;
}

.e {
  grid-column: 3 / span 1;
  grid-row: 6 / span 2;
}
.f {
  grid-column: 1 / span 2;
  grid-row: 3 / span 5;
}
.g {
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
}
.i {
  grid-column: 3 / span 1;
  grid-row: 5 / span 2;
}

fieldset {
  border: none;
}

#logo {
  width: auto;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  height: 15em;
}

.defaultView {
  display: block;
}
.chartView {
  display: none;
}
canvas {
  padding: 1em;
}
#bar-container {
  position: relative;
  width: 48%;
  display: inline-block;
}
#candle-container {
  position: relative;
  width: 48%;
  display: inline-block;
}

#line-container {
  position: relative;
  width: 100%;
  display: inline-block;
}
#showCharts {
  display: none;
  float: right;
}

#loading {
  padding-top: 50px;
  text-align: center;
}
#loadingStock {
  padding-top: 50px;
  text-align: center;
  display: none;
}
table {
  border-collapse: collapse;
  padding: 1em;
  width: 100%;
  display: table;
  margin-top: 1em;
  text-align: center;
}
#table{
  display: block;
  max-height: 650px;
  overflow-y: scroll;
  width: 100%;
  margin-top: 5em;
}

tr:nth-child(even) {
  background: #ddd;
}
td {
  padding: 5px 10px;
}

th {
    font-size: 16px;
}

#stock,
#stats,
#financials,
#company {
  font-size: 14px;
}

#stats,
#stock {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#info {
    padding-left: 20px;
    padding-right: 20px;
}

#info label {
  font-weight: bold;
  font-size: 15px;
}

#info span {
  font-weight: normal;
  font-size: 15px;
}

#Credit {
  font-size: 35px;
  padding: 31px 20px 20px 20px;
  margin: auto ;
  color: var(--background);
  text-shadow: 2px 2px 3px #555;
}

#dropdown {
  display: inline-block;
}

#credits-pane {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  padding: 8px 10px;
  z-index: 1;
}

h1 {
  padding: 14px 14px 14px 20px;
  background-color: var(--foreground);
  color: var(--background);
  border-radius: 5px;
  margin: 0em -.5em .5em -.5em;
}
.h h1 {
  padding: 14px;
  color: var(--background);
  text-shadow: 2px 2px 3px #555;
}

button {
  padding: 0.5em;
  font-size: medium;
  border-radius: 8px 1px;
  border: none;
  background-color: var(--foreground);
  box-shadow: 4px 4px 5px var(--shadow);
  color: var(--background);
}
button:active {
  outline: none;
  background-color: rgb(11, 76, 150);
  box-shadow: 2px 2px 3px var(--shadow);
}

#clearButton {
    margin-left: 20px;
}

#header {
    display: flex;
    padding: 0;
}

#header h1 {
  margin: auto 0 auto 0;
  padding-left: 20px;
}



